@import "tailwindcss";

:root {
  --accent: #42718A;
  --accent-hover: #365f75;

  /* colours: blue: 42718A, Maroon: 550000*/

  --background: #F4F4F2;
  --text: #18181b;
}

body {
  margin: 0;
}

.scrolling-collage-bg {
  position: absolute;
  inset: 0;
  background-image: url("/collage.webp");
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: 0 0;
  opacity: 0.5;
  animation: scrollBackground 120s linear infinite;
}

@keyframes scrollBackground {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: -3000px;
  }
}